@import url('https://fonts.googleapis.com/css?family=Bebas%20Neue');
@import url('https://fonts.googleapis.com/css?family=Open%20Sans');
h1,
h2,
h3 {
    font-family: "Bebas Neue";
}

body {
    font-family: "Open Sans";
}

.logo {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
}

.navigation {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 12px;
    padding: 15px;
}

.navbar {
    background-color: black;
    opacity: 0.5;
}

.jumbotron {
    margin: auto;
}


/* page */

.page {
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(37, 37, 37);
    height: 100vh;
}

.first-page {
    background-image: url("../assets/main-bg.jpg");
}

.first-page h1 {
    font-family: "Open Sans";
}

.second-page {
    background-image: url("../assets/the-games-bg.jpg");
}

.third-page {
    background-image: url("../assets/features.jpg");
}

.fourth-page {
    background-image: url("../assets/requirements.png");
}

.fifth-page {
    background-image: url("../assets/top-score-bg.png");
}